src/test/resources/service/files/schema/xmlSchemaValidator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Sun Mar 16 2025 14:11:11 GMT-0500 (Colombia Standard Time) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="city" type="xs:string"></xs:element>
                <xs:element name="firstName" type="xs:string"></xs:element>
                <xs:element name="lastName" type="xs:string"></xs:element>
                <xs:element name="state" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>